<div class="conten-1" style="display: flex; justify-content: center; align-items: center; padding: 30px; background-image: url(https://i.pinimg.com/736x/9f/18/df/9f18df506d91f4e4964300263b43e444.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
  <div class="card">
      <img class="card-img" src="{{url}}" width="100px" height="450px" alt="Card image cap">
      <div class="card-body">
          <p class="card-text">U1_S4_Taller_Registro de Productos / Solicitud de prestamo
            DESARROLLO DE APLICACIONES WEB AVANZADO
            </p>
          <p>Silva Muñoz Diego Alejandro</p>
      </div>
  </div>
</div>
